.header__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
  }
  
  .icon {
    > svg {
      width: 24px;
      height: 24px;
    }
  }
  .header-txt {
    font-size: 14px;
    line-height: 16px !important;
  }
  
  :where(.css-dev-only-do-not-override-1jj2s8g).ant-layout-header {
    line-height: 0;
  }